<main>
    <div class="hero">
        <div class="text">
            <h1>Retro & Kuriosa <br> Glumslöv</h1>
            <p>Något kort men lockande</p>
        </div>
        <img src="../../assets/images/image 3.png" alt="">
        <img src="../../assets/images/image 4.png" alt="">
        <img src="../../assets/images/image 10.png" alt="">
        <img src="../../assets/images/image 9.png" alt="">
        <img src="../../assets/images/image 6.png" alt="">
        <img src="../../assets/images/image 5.png" alt="">
    </div>

    <div class="section-pic">
        <div class="text">
            <h1>Välkommen</h1>
            <h2>Bakgrund</h2>
            <p>Lite bakgrunds text. Vilka är ni osv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. Driver Retro & Kuriosa i Glumslöv. </p>
        </div>

        <div class="picture">
            <img src="../../assets/images/image 2.png" alt="">
            <div class="text">Information om bilden ovanför. Ska locka kunden</div>
        </div>
    </div>

    <div class="items">
        <div class="item">
            <img src="../../assets/images/image 2.png" alt="">
            <h1>Keramik Jussie, Åland L16 H10cm</h1>
            <h1>Pris: 130kr</h1>
        </div>

        <div class="item">
            <img src="../../assets/images/image 2.png" alt="">
            <h1>Keramik Jussie, Åland L16 H10cm</h1>
            <h1>Pris: 130kr</h1>
        </div>

        <div class="item">
            <img src="../../assets/images/image 2.png" alt="">
            <h1>Keramik Jussie, Åland L16 H10cm</h1>
            <h1>Pris: 130kr</h1>
        </div>
    </div>
</main>
